include block_html/_style.pug
include block_html/_const.pug
include block_html/_include.pug

.page
	+header()
	.main-banner-wrap
		.main-cont
			.main-banner
				.main-banner__cont
					.main-banner__info
						.main-banner-subTitle.type--mdx.type--700.mb-24.sm__mb-4 Your ticket to a tasty and healthy life
						.main-banner-title.type--lgx.type--800.mb-48 Delivery of ready meals without sugar, gluten, trans fats and preservatives
						.f.gap-20.w100
							a(href="#navMenu").btn.btn--md.btn--white.btn--mobile.js-scroll-to Get Started
							a(href="#navMenu").btn.btn--md.btn--empty-white.sm__hide.js-scroll-to
								.f.f-mid.gap-12
									span See Menu
									+icon("arrow-right","icon icon--md")
				.main-banner__img
					.main-banner__img-el(style="background-image:url('img/universe/bg-el-1.png')")
	.content
		#navAdvantages.section.pt-120.pb-120.bg--snow.pt-
			.main-cont
				.g.gap-20.g-3.lg__g-2.sm__g-1
					-
						var items = [
							{"icon":"lists--color","title":"Organic ingredients","modal":"Organic"},
							{"icon":"cooking--color","title":"Cooking Innovation","modal":"Cooking"},
							{"icon":"nooil--color","title":"Avoid junk food","modal":"Avoid"},
							{"icon":"flour--color","title":"Nutrient rich food","modal":"Nutrient"},
							{"icon":"container--color","title":"We use biodegradable cornstarch containers","modal":"Biodegradable"},
							{"icon":"food--color","title":"Improve your health","modal":"Improve"},
							];
					each item in items
						.bg--white.br--20.p-48.modal-get.cp(data-modal=item.modal)
							.f.w100
								+icon(item.icon,"icon icon--100 sm__icon--44")
								.el.ml-20.mt-24.sm__mt-4
									.type--700.type--md.mb-10=item.title
									.type--w700.type--blue More info
		#navMenu.section.pt-120.pb-120
			.main-cont--sm
				.type--lgx.type--mid.type--800.mb-36 Sample menu for the day according to the program Rational nutrition
			.config-wrap.js-tab-wrap
				.main-cont--sm
					.config-nav.mb-64.hideMobileScroll.js-tick-cont.sm__mb-4
						.config-nav__el.js-tick.js-tab.active
							+icon("fit","icon")
							.type--main Weight loss
						.config-nav__el.js-tick.js-tab
							+icon("figure","icon")
							.type--main Keeping fit
						.config-nav__el.js-tick.js-tab.config-nav__el--disable.js-disable.pos-r
							+icon("strong","icon icon--typeDisable")
							.type--typeDisable Gain weight
							.config-nav__el--disable-text coming soon
				.main-cont--md
					each racionListEl,k in racionList
						.config.js-tab-cont(class=k === 0 ? 'active' : '')
							.row.g-gap-40
								.config-slider__el.g-1-6.lg__g-1-12
									img(src="img/universe/item-" + (k + 1) + ".jpg", alt="").w100
								.config-content.g-7-12.lg__g-1-12.js-tab-wrap
									.f.f-aic.g-gap-12.mb-36.day-list.hideMobileScroll.js-tick-cont
										-
											var items = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
										each item,i in items
											.config-day.br--8.shadow-xl.p-16.f.f-mid.f-column.cp.js-tick.day-list__el.js-tab(class=i === 0 ? 'active' : '')
												.type--700.mb-4 #{item}
												.type--typePrimary 03/0#{i + 4}
									each racionListItem,l in racionListEl
										.config-descr.js-tab-cont(class=l === 0 ? 'active' : '')
											.text
												ul
													each racionListItemData,m in racionListItem
														li=racionListItemData

											.f.f-aic.g-gap-20.lg__fw
												a(href="/order.html").btn.btn--md.btn--mark.lg__w100.lg__order-2 Subscribe
												.type--700.type--mdx.lg__order-1 from 13 $ per day




		.section.pt-120.pb-120.bg--snow
			.main-cont
				.banner-preview
					.banner-preview__img(style="background-image:url('img/universe/bg-1.jpg')")
					.banner-preview__info
						.text.mb-36
							.type--lgx.type--800.mb-20 Caring for the <br>  environment
							p Our dishes are free of harmful and toxic substances that adversely impair human health and they fully decompose in the soil without harming the environment - 100% eco-friendly.
							p We will include cutlery in the order only at your request.
						a(href="#navMenu").btn.btn--md.btn--mark.btn--mobile.js-scroll-to Order now




		.section
			.main-cont
				.f.md__fw
					.extendUp-img-wrap.block.w50.md__w100.md__order-2
						img(src="img/banner-1.png", alt="").extendUp-img
					.f.block.w35.f-mid.pt-48.pb-48.lg__w50.md__w100
						.text
							.type--lgx.type--800.mb-20 It suits you if
							ul
								li Constant disruption of the nutrition plan
								li Snacking on candy or fast food in-between meals
								li Lack of time to prepare healthy meals
								li Poor quality products in the supermarket near the house
								li Unclear composition of dishes in cafes and restaurants
							p
								strong Do you want to eat only the healthiest foods made from carefully selected, high-quality ingredients?
							p
								strong If your answer is yes, then SimplyFood is the perfect solution for you.



		#navTrial.section.pt-120.pb-120.subs-banner(style="background-image:url('img/bg-2.jpg')")
			.main-cont
				.type--lgx.type--800.type--white.mb-12 Start with a 5 day trial
				form.wmax-545.mb-24.js-validate(
					action="javascript:void(null);"
					data-open_modal="subscribe"
				)
					.g-1-4
						.type--md.type--white.mb-48 Order a 5-Day Food Trial Kit for just 60$
						.input-row.mb-16
							.input-row
								input(
									class="input js-input-data"
									type="tel"
									name="phone[1]"
									placeholder="Your phone"
									data-type="phone"
									data-condition="phone"
									inputmode="numeric"
								)
					button(type="submit").btn.btn--mark.btn--md.btn--mobile Get Started

		#navHow.section.pt-120.pb-120.bg--snow
			.main-cont
				.title.type--lgx.type--800.type--mid.mb-48 How it works
					.title__shadow How it works
				.g.gap-20.g-3.sm__g-1
					.work-el.bg--white.br--20
						+icon("check-step--color","icon")
						.work-el-title.type--md.type--700.mb-16.pos-r.w100 Submit a request
							.brush(style="background-image:url('img/brush.svg')")
						.type--main Order food online or over the phone. Set the start date of the program and let us know if you wish to change the menu.
					.work-el.bg--white.br--20
						+icon("food-step--color","icon")
						.work-el-title.type--md.type--700.mb-16.pos-r.w100 Get the order
							.brush(style="background-image:url('img/brush.svg')")
						.type--main Every morning, immediately after preparation, our courier delivers the dishes to you. Refrigerate them once received.
					.work-el.bg--white.br--20
						+icon("winner-step--color","icon")
						.work-el-title.type--md.type--700.mb-16.pos-r.w100 Eat tasty and healthy
							.brush(style="background-image:url('img/brush.svg')")
						.type--main Get the most out of your meals every day. Before eating, you simply need to warm it up.

		#navReview.section.pt-120.pb-120
			.main-cont
				.title.type--lgx.type--800.type--mid.mb-48 Reviews
					.title__shadow Reviews
				.review-slider
					.review-slider__el
						.review-slider__el-img(style="background-image:url('img/review-1.jpg')")
						.review-slider-wrap
							.type--blue.mb-20 @Alice
							.review-slider-content.scroll-template-light
								.review-slider-text.text
									p AND ONCE AGAIN ABOUT HEALTHY NUTRITION. It's no secret that artists have a very busy schedule, and it's always been a question for me how to eat well and keep slim without wasting time in the kitchen, despite the hectic pace of life. 🍛
					.review-slider__el
						.review-slider__el-img(style="background-image:url('img/review-2.jpg')")
						.review-slider-wrap
							.type--blue.mb-20 @Barbara
							.review-slider-content.scroll-template-light
								.review-slider-text.text
									p 🍝Food🍜 <br>	I ate for 3.5 months, alternating calories from 1000-1500 per day.🥗 And I noticeably lost weight. <br> During this time, I tried quite a few food delivery services before choosing this one.
					.review-slider__el
						.review-slider__el-img(style="background-image:url('img/review-3.jpg')")
						.review-slider-wrap
							.type--blue.mb-20 @Kate
							.review-slider-content.scroll-template-light
								.review-slider-text.text
									p Good day everyone! I'd like to share that I've switched to the @simplefood nutrition system. I'd want to point out that I haven't arrived at work yet, but my lunch is already waiting for me))) this is a positive aspect of the delivery. The portions are small, but I chose the Light program for weight loss.
					.review-slider__el
						.review-slider__el-img(style="background-image:url('img/review-4.jpg')")
						.review-slider-wrap
							.type--blue.mb-20 @Vanessa
							.review-slider-content.scroll-template-light
								.review-slider-text.text
									p My new love! Spinach waffles from @simplefood. Two weeks on a light diet of 1000-1100 calories: delicious and simple. Yes, I craved food for the first three days, but it was more of a mental thing. In fact, I eat five times a day, and by the end of the program.

		#navFaq.section.pt-120.pb-120.bg--snow
			.main-cont--md
				.title.type--lgx.type--800.type--mid.mb-48 FAQ
					.title__shadow FAQ
				.faq-wrap
					.js-accordion.js-tab-cont
						-
							var items = [
								{
									"question": "How frequently should I eat the meals?",
									"responce": "We recommend that you eat every 2.5-3 hours."
								},
								{
									"question": "Who decides on the menu?",
									"responce": "A skilled professional nutritionist compiles and edits the menu based on our chef's technological maps and recipes."
								},
								{
									"question": "How frequently is the menu updated?",
									"responce": "Every week we change all our diets. Our weekly meal packages are designed so that the diet meals are not repeated every day. We completely update the monthly menu once every quarter."
								},
								{
									"question": "How frequently are deliveries made each week?",
									"responce": "Healthy food delivery service provides daily delivery of healthy nutrition programs of your choice - either in the evening or in the morning. We prepare meals and deliver them right away, ensuring that our food is always flavorful and fresh. The courier will be at your location for 20 minutes. The courier then proceeds to the next address."
								},
								{
									"question": "Is it possible to reheat meals in containers?",
									"responce": "For packing food, we use heat-resistant packaging in the form of trays that can be heated in a microwave oven. The recommended warm-up time is 1-2 minutes."
								},
								{
									"question": "What products do you use?",
									"responce": "We buy meat, milk, cereals, vegetables, and fruits only from suppliers who have conformity certificates for the products supplied. Purchases are made daily."
								},
							];
						each item,i in items
							.accordion__el.js-accordion-el
								.accordion__el-head.js-accordion-head
									.accordion__el-head-text #{i + 1}. #{item.question}
									.accordion__el-head-icon
								.accordion__el-content.text.js-accordion-content #{item.responce}

		#navDelivery.delivery-cont
			.main-cont--md
				.delivery-msg-wrap
					.delivery-msg
						.type--lgx.type--800.mb-24 Delivery
						.text
							p We deliver regularly (daily or every alternate day). Every morning or evening - the choice is yours
						//.deliver-pick__el
							.deliver-pick__el-color(style="background:#7ECA1D")
							.deliver-pick__el-text Доставляем бесплатно
						//.deliver-pick__el
							.deliver-pick__el-color(style="background:#6b33b3")
							.deliver-pick__el-text Доставка стоит 250 р.
			.map
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12108.076354468185!2d-73.95580230432289!3d40.651509618129055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b5d05c518f5%3A0xbb0efb714a7581c7!2sNew%20York%20Ave%2C%20Brooklyn%2C%20NY%2C%20USA!5e0!3m2!1sen!2sru!4v1643017103333!5m2!1sen!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" zoomControl="true")
				//script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A83eda55a6c987e2db4be6f36278f36ac8ff89bb1d4d6303900011bd2b33ec80c&amp;width=100%&amp;height=100%&amp;lang=en_US&amp;scroll=false")
	+footer()
	+modal()

include ./block_html/_script.pug
