include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.bg--snow
		.main-cont
			form.pt-80.pb-80.js-validate(
				action="javascript:void(null);"
				data-redirect_url="total.html"
			)
				.contract-box.br--20.bg--white
					.type--xl.type--800.mb-48.type--mid Abonelik Detaylarınız
					.type--lg.type--700.mb-20.type--mid Kişisel bilgileriniz
					.g.g-2.sm__g-1.gap-32.mb-48
						.input-row
							input(
								class="input js-input-data"
								type="text"
								name="name[1]"
								placeholder="Adınız"
								data-type="name"
								data-condition="firstName"
							)
						.input-row
							input(
								class="input js-input-data"
								type="text"
								name="name[2]"
								placeholder="Soyadınız"
								data-type="name"
								data-condition="secondName"
							)
						.input-row
							input(
								class="input js-input-data"
								type="tel"
								name="phone[1]"
								placeholder="Telefon numaranız"
								data-type="phone"
								data-condition="phone"
								inputmode="numeric"
							)

					.type--lg.type--700.mb-20.type--mid Teslimat detaylarınız
					.input-row.mb-32
						input(
							class="input js-input-data"
							type="text"
							name="simpleText[1]"
							placeholder="Adres"
							data-type="simpleText"
							data-condition="adress"
						)


					.type--mdx.type--700.mb-20.type--mid Temassız teslimatlar yukarıdaki adrese yapılacaktır.
					.wmax-640.ml-a.mr-a.mb-20
						.type--main.type--mid Teslimatı kişisel olarak alamıyorsanız, lütfen kuryelerimizin Munchfit siparişlerinizi bırakabileceği güvenli bir yerin ayrıntılarını bildirin.
					.input-row.mb-32
						input(
							class="input js-input-data"
							type="text"
							name="simpleText[2]"
							placeholder="Güvenli yer konumu"
							data-condition="safePlace"
						)
					.input-row.mb-80
						textarea(
							class="input js-input-data"
							cols="30"
							rows="6"
							data-condition="msg"
							placeholder="Özel Talimatlar"
						)
					.g.g-2.sm__g-1.gap-32.mb-48
						.input-row
							input(type="text"  class="input" placeholder="Yönlendirme Kodu")
						.input-row
							input(type="text"  class="input" placeholder="İndirim kodu")
					.mb-48
						+checkbox('Bütün şartları ve koşulları okudum kabul ediyorum')

					.f.f-between.pb-20.bor-b-dashed.bor--border.mb-48
						.type--lg.type--700 toplam fiyat
						.type--lg.type--700 13 $

					.f.f-mid
						button(type="submit").btn.btn--lg.btn--mark.btn--mobile ödemeyi gerçekleştir

	+footer()
	+modal()
include ./block_html/_script.pug
